.register{
    width: 100%;
    height: 1000px;
    background-color:aqua;
    
}

.register-container{
    margin-left: 650px;
    height: 500px;
    background-color: aqua;
    width: 500px;
    border: 3px solid black;
    text-align: center;
}

input{
    padding: 15px;
    width: 400px;
}

.registerbtn{
    padding: 15px;
    width: 400px;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 222, 52);
    margin-top: 80px;
}

.registerbtn:hover{
    background-color: rgb(216, 230, 22);
}